body{
    background-color: black;
    margin: 0;
}

.main{
    display: flex;
    height: 600px;
    margin-top: 300px;
    width:fit-content;
    margin-left: 15px;
}

.main > div:nth-child(1){
    flex: 1;
}

.main > div:nth-child(2){
    flex: 1;
}

.bg{
    margin-left: 325px;
    color: purple;
    font-weight: 900px;
}

.pc{
    color: green;
}

.it{
    font-style:italic;
}